<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>A password reset to your account was requested.</p>
  <p>If was you, then click on one of the follow links to choose another password:</p>
  <p>
    <a href="{{web_link}}">Reset using my browser</a>
  </p>
  <p>
    <a href="{{mobile_link}}">Reset using my app</a>
  </p>
  <p>If was not you, dispose this email.</p>
  <p>
    Thank you!<br />
    <strong>GoBarber Team</strong>
  </p>
</div>
